.weather-app{
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: url('./imagens/wallpapersden.com_monaco-at-night_3840x2160.jpg');
    background-size: cover;
    height: 630px;
}

.weather-app h1{    
    padding-top: 100px;
    font-size: 50px;
    color: white;
}
.pesquisa input{
    border-radius:40px;
    border: 1px solid rgba(255, 255, 255, 0.81);
    padding: 10px 12px;
    margin-top: 10px;
    background-color: transparent;
    outline: 0;
    color: white;
    font-size: 17px;
}

.pesquisa input::placeholder{
    color: rgba(255, 255, 255, 0.744);
    font-size: 17px;
}

.mensagem{
    color: white;
    margin-top: 20px;
}

.container-dados{
    max-width: 500px;
    width: 80%;
    background-color: white;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 30px;
    box-shadow: 0px 0px 5px 6px  rgba(0, 0, 0, 0.454);
    padding-bottom: 30px;
}

.topo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;

    background-color: rgb(255, 68, 0);
}

.localizacao h2{
    color: rgb(255, 255, 255);
    font-size: 35px;
    text-align: left;
    width: 80%;
}

.temperatura h2{
    font-size: 35px;
    color: rgb(255, 255, 255);
}


.informacoes{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    flex-wrap: wrap;
}

.informacoes p{
    color: black;
    font-weight: bold;
}


.informacoes h3{    
    width: 100%;
    font-size: 21px;
    text-align: left;
}

.sensacao,
.vento{
padding-left: 40px;}

.descricao,
.sensacao,
.humidade,
.vento
{
    display: flex;
    width: 46%;
    align-items: center;
    margin-top: 25px;

}

.descricao svg{
    font-size: 40px;
    margin-right: 12px;

}
.sensacao svg{
    margin-right: 12px;
    font-size: 36px;
}

.humidade svg{
    font-size: 44px;
    margin-right: 12px;

}
.vento svg{
    font-size: 36px;
    margin-right: 12px;
}

.copy{
    padding-top: 10px;
    color: rgba(255, 255, 255, 0.834);
}




@media screen and (max-width:768px) {
    .localizacao h2,
    .temperatura h2{

        font-size: 28px;

    }

.sensacao,
.vento{
padding-left: 20px;}
}